*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: #d635db;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #290f2a;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #f5cbf5;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links li a:hover{
    color: #da5cb4;
}

.logo img{
    height: 75px;
    width: auto;
}

 /*header*/
 header {
  text-align: center;
  padding: 40px 20px;
 }

 header h1 {
    font-size: 2.5rem;
    color: #f9f7f9;
 }

 header p {
    color: #f5cbf4;
    margin-top: 10px;
 }

 /* Grid Layout */
 .container{
     max-width: 900px;
    margin: 60px auto;
    background: #3b1e39;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
 }

 .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-left: 30px;
 }

 .hero-text{
    max-width: 50%;
 }
 
.right-content{
    display: flex;
    width: 160px;
    gap:10px;
    margin-top: 40px;
    margin-left:70px ;
    align-items: center;
}

.right-content img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.right-content img:hover{
     transform: translateY(-8px) scale(1.02);
    box-shadow: 0 0 20px rgba(207, 100, 240, 0.5);
}

.faq{
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
}

details{
    background: #b321a9;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px 20px;
    color: white;
}

summary{
    cursor: pointer;
    font-weight: 600;
    list-style: none;
}

summary::after{
    content: '+';
    float: right;
    transition: 0.2s;
}

details [open] summary::after{
    content: '-';
}

details p{
    margin-top: 15px;
    color: #111111;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .hero{
        flex-direction: column;
        text-align:center;
    }

    .hero-text{
        max-width: 100%;
    }

    .game pics{
        justify-content: center;
        margin-top: 20px;
    }
}